.nav-link {
	color: white !important;
	padding: 15px;
}
header{
	background-color: black;
}
.header-icon{
	color: white;
	padding:0 15px;
}

.header-button{
	color: white;
	background-color: red;
	margin-left: 10px;
	padding: 10px;
}

.header-button button{
	background-color: red;
}
/* headers movrchi */
.carousel-item{
	height: 600px;
	object-fit: cover;
}
.section-2{
	margin-top: 20px;
	padding-left: 15px;
	margin-bottom: 20px;
}

.section-2 h2{
font-size: 30px;
margin-bottom: 20px;
border-bottom: 2px solid white;
padding: 10px 0;
}

main{
	background-color: black;
	color: white;
}
.latest-movies img{
	width: 100%;
	border-radius: 15px;
}

.section-3 h2{
	font-size: 30px;
margin-bottom: 20px;
border-bottom: 2px solid white;
padding: 10px 0;

}
.section-3{
	margin-bottom: 20px;
}
.section-4 h2{
	font-size: 30px;
margin-bottom: 20px;
border-bottom: 2px solid white;
padding: 10px 0;
}
.section-4{
	margin-bottom: 20px;
}
.carusel-2{
	margin-bottom: 30px;
}
.section-5 h2{
	font-size: 30px;
margin-bottom: 20px;
border-bottom: 2px solid white;
padding: 10px 0
}
.section-5{
	margin-bottom: 30px;
}
.bg-img{
	background-image: url(../images/bg-img.webp);
	background-repeat: no-repeat;
	background-size:contain;
	background-position: center;
	padding: 300px 0;
}
.section-6 h2{
	font-size: 30px;
margin-bottom: 20px;
border-bottom: 2px solid white;
padding: 10px 0

}

footer{
	background-color: blueviolet;
	padding: 30px 0;
}
	

.footer-1 p{
color: white;
padding: 15px 0;
}
.fb{
	background-color: blue;
	padding: 10px;
	color: white;
	border-radius: 15px;
}
.twiter{
	background-color: greenyellow;
	padding: 10px;
	color: white;
	border-radius: 15px;
}
.linkdin{
	background-color: skyblue;
	padding: 10px;
	color: white;
	border-radius: 15px;
}
.pinterest{
	background-color: red;
	padding: 10px;
	color: white;
	border-radius: 15px;
}
.footer-socials{
	padding: 10px 0;
}
.footer-nav li{

	display: inline-block;
}
.footer-nav a{
	color: white;
	display: block;
	padding: 10px;
	font-size: 20px;
}
.footer-icons{
	display: flex;
	flex-wrap: wrap;
}
.footer-icons p{
	padding: 10px;
	color: white;
}

.footer-icons li{
	 width: 20%;
}

.footer-bottom{
	 display: flex;
    justify-content: space-between;
    align-items: center;

}
.footer-but{
	background-color: red;
	padding: 10px 15px;
	border: 2px solid red;
	border-radius: 5px;
}
.hover-div{
	text-align: center;
    position: absolute;
    height: 100%;
    bottom: -100%;
    left: 0;
    right: 0;
    /* bottom: 0; */
    background: #00000045;
    padding: 30px;
    transition: 1s;

}
.parent-hover{
	position: relative;
	overflow: hidden;
}
.hover-div a{
	display: block;

}
.parent-hover:hover .hover-div{
 bottom: -50%;

}
.image-button{
	background-color: red;
	color: white;
	border: 1px solid red;
	margin-top: 7px;
}
.navbar-toggler-icon{
	color: white;
}

.navbar-toggler{
	background-color: white;
}

@media screen and (max-width: 768px){

.footer-icons li {
    width: 50%;
}



}